.table {
  table-layout: fixed;
  width: 100%;
  background-color: white;
  color: #353535;
  border-radius: 8px;
  overflow-x: scroll;
  font-size: 14px;
  font-weight: 700;
  font-family: Helvetica;
}
.line {
  height: 1px;
  background-color: black;
  width: auto;
}
.head,
.body-item {
  display: flex;
  padding: 1.5rem 0;
  text-align: center;
}
.head div,
.body-item div {
  min-width: 240px;
}
.body {
}
