.table {
  table-layout: fixed;
  width: 100%;
  background-color: white;
  color: #353535;
  border-radius: 8px;
  overflow-x: scroll;
  font-size: 14px;
  font-weight: 700;
  font-family: Helvetica;
}

.table thead {
  position: relative;
}

.table thead::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #315c8e;
}

.table thead th {
  font-weight: 700;
  padding: 1.5rem;
  width: 240px;
}
.table tbody th {
  font-weight: 700;
  padding: 1.5rem;
  width: 240px;
}
.table tbody tr:nth-child(odd) {
  background-color: #f6f6f6;
}
.wrapper {
  overflow: auto;
  width: 100%;
  height: 650px;
}
