.container_wrapper {
  overflow-y: hidden;
  overflow-x: auto;
  font-size: 14px;
  font-family: Helvetica;
  border-radius: 10px;
  background-color: #fff;
}

table {
  color: #000;
  border-collapse: collapse;
}

thead {
  border-bottom: 1px solid #315c8e;
  font-weight: 700;
  filter: blur(0.5px);
}

tr:nth-child(even) {
  background-color: #f6f6f6;
}

th,
td {
  padding: 24px 66px;
  text-align: center;
}

.pagination_container {
  margin-top: 69px;
  display: flex;
  align-items: center;
  justify-content: center;
}
