.home-bg {
  min-height: 100vh;
  background: black url("../../assets/images/starsbg.png") no-repeat
    center/cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--primary-color);
  row-gap: 52px;
  text-align: center;
}
.home-title {
  font-family: var(--primary-font);
  font-size: 96px;
  font-weight: 400;
}
.home-button {
  padding: 20px 120px;
  border-radius: 7px;
}
