.dropdown_container {
  position: absolute;
  top: 72px;
  left: -315px;
  background-color: #fff;
  width: 297px;
  min-height: 255px;
  height: 100%;
  padding: 45px 25px;
  border-radius: 12px;
  box-sizing: border-box;
  overflow: visible;
  box-shadow: 0 4px 12px 1px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease-in-out;
  z-index: 2;
  color: #000;
}
